In [1]:
import pandas as pd
import json
import numpy as np
import seaborn as sn
from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
pd.set_option('display.max_colwidth', 100)

In [3]:
df_movies = pd.read_csv('movies.csv')
df_credits = pd.read_csv('credits.csv')

In [4]:
df_tmdb = pd.concat([df_movies, df_credits], axis=1)

In [5]:
new_column_order = ['id', 'title', 'original_language', 'genres', 'release_date', 'production_companies', 'production_countries', 'budget', 'popularity', 'vote_count', 'vote_average']

In [6]:
df_tmdb_new = df_tmdb[['id', 'title', 'tagline', 'original_language', 'genres', 'release_date', 'production_companies', 'production_countries', 'budget', 'popularity', 'vote_count', 'vote_average']]

In [7]:
df_unique_cols = df_tmdb_new.loc[:, ~df_tmdb_new.columns.duplicated()]
df_unique_cols.head()

,id,title,tagline,original_language,genres,release_date,production_companies,production_countries,budget,popularity,vote_count,vote_average
0,19995,Avatar,Enter the World of Pandora.,en,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""name"": ""Fantasy""}, {...",2009-12-10,"[{""name"": ""Ingenious Film Partners"", ""id"": 289}, {""name"": ""Twentieth Century Fox Film Corporatio...","[{""iso_3166_1"": ""US"", ""name"": ""United States of America""}, {""iso_3166_1"": ""GB"", ""name"": ""United ...",237000000,150.437577,11800,7.2
1,285,Pirates of the Caribbean: At World's End,"At the end of the world, the adventure begins.",en,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""name"": ""Fantasy""}, {""id"": 28, ""name"": ""Action""}]",2007-05-19,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""name"": ""Jerry Bruckheimer Films"", ""id"": 130}, {""na...","[{""iso_3166_1"": ""US"", ""name"": ""United States of America""}]",300000000,139.082615,4500,6.9
2,206647,Spectre,A Plan No One Escapes,en,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""name"": ""Adventure""}, {""id"": 80, ""name"": ""Crime""}]",2015-10-26,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""name"": ""Danjaq"", ""id"": 10761}, {""name"": ""B24"", ""id"": ...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""}, {""iso_3166_1"": ""US"", ""name"": ""United States of ...",245000000,107.376788,4466,6.3
3,49026,The Dark Knight Rises,The Legend Ends,en,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""name"": ""Crime""}, {""id"": 18, ""name"": ""Drama""}, {""id"": ...",2012-07-16,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""name"": ""Warner Bros."", ""id"": 6194}, {""name"": ""DC E...","[{""iso_3166_1"": ""US"", ""name"": ""United States of America""}]",250000000,112.312950,9106,7.6
4,49529,John Carter,"Lost in our world, found in another.",en,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""name"": ""Adventure""}, {""id"": 878, ""name"": ""Science Fic...",2012-03-07,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States of America""}]",260000000,43.926995,2124,6.1

In [8]:
def jsontocsv(jsonstr:str):
    df = pd.read_json(StringIO(jsonstr))
    csv_string = ', '.join(df['name'].apply(str))
    return csv_string

In [9]:
from io import StringIO

In [10]:
jsonstr = df_tmdb_new['genres']
csv = jsontocsv(jsonstr[0])
csv

'Action, Adventure, Fantasy, Science Fiction'

In [11]:
def create_genres_concatenated(row):
    df = pd.read_json(StringIO(row.genres))
    csv_string = ', '.join(df['name'].apply(str))
    return csv_string

In [12]:
df_unique_cols.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    4803 non-null   int64
 1   title                 4803 non-null   object
 2   tagline               3959 non-null   object
 3   original_language     4803 non-null   object
 4   genres                4803 non-null   object
 5   release_date          4802 non-null   object
 6   production_companies  4803 non-null   object
 7   production_countries  4803 non-null   object
 8   budget                4803 non-null   int64
 9   popularity            4803 non-null   float64
 10  vote_count            4803 non-null   int64
 11  vote_average          4803 non-null   float64
dtypes: float64(2), int64(3), object(7)
memory usage: 450.4+ KB

In [13]:
df_tmdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
 20  movie_id              4803 non-null   int64
 21  title                 4803 non-null   object
 22  cast                  4803 non-null   object
 23  crew                  4803 non-null   object
dtypes: float64(3), int64(5), object(16)
memory usage: 900.7+ KB